:root {
    --lightGrey: #58699D;
    --darkGrey: #2A324B;
    --lightGrey: #E1E5EE;
    --white: #fff;
}

body{
    background-color: var(--lightGrey);
}

nav{
    background-color: var(--darkGrey);
    display: flex;
    justify-content: space-between;
    margin: 0;
    a{
        text-decoration: none;
        color: var(--white);
        padding: 1rem;
    }
}


section{
    background-color: var(--white);
}